@use '_colors' as colors;

.card {
  color: white;
  background-color: colors.$slightly-black-bg;
}

.blueText {
  color: colors.$triadic-blue;
}
.redText {
  color: colors.$triadic-red;
}
.greenText {
  color: colors.$triadic-green;
}
