@use '_paths' as paths;
@use '_colors' as colors;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PressStart2P';
  src: url('#{paths.$fonts}PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PressStart2P', sans-serif;
  cursor: url('#{paths.$assets}cursor.png'), auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    pointer-events: none;
  }
  * {
    user-select: none;
  }
}

header {
  background-color: colors.$slightly-black-bg;
  color: white;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto !important;
  }
}

section {
  position: relative;
}

.blueText {
  color: colors.$triadic-blue;
}
.redText {
  color: colors.$triadic-red;
}
.greenText {
  color: colors.$triadic-green;
}
