@use 'assets/styles/paths' as paths;

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PressStart2P';
  src: url('#{paths.$fonts}PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'PressStart2P', sans-serif;
  margin: 0;
  cursor: url('#{paths.$assets}cursor.png'),auto;
  scroll-behavior: smooth !important;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto !important;
	}
}


// section {
//   padding: 1rem;
// }
