
.main {
    background-color: rgb(38, 38, 39);
    color: white;
}

.infoText {
    position: fixed;
    top: 40%;
    left: 0;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    height: auto;
    text-transform: uppercase;
    max-width: 100%;
    background-color: rgb(59, 130, 246);
    padding: 10px 2rem;
    z-index: 1000;

    & p {
        text-transform: none;
        text-decoration: underline;
    }
}